html {
  font-family: sans-serif;
}

body,
h1,
p {
  margin: 0;
  padding: 0;
}
.title {
  padding: 20px;
  font-weight: normal;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#next-statement-btn,
#prev-statement-btn {
  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

.numeracy-category:hover {
  cursor: pointer;
}

.numeracy-category:hover rect {
  opacity: 0.1;
}

#svg {
  background-color: #eee;
}

#discrimination-statement {
  font-style: italic;
}

.disabled-btn {
  opacity: 0.5 !important;
  &:hover {
    cursor: default !important;
  }
}

#selection-bar {
  margin: 16px;
}

.selection-btn {
  background-color: #eee;
  border: none;
  margin: 0;
  padding: 4px;
  display: inline;
  color: #777;
  font-size: 16px;
}

.active-button {
  color: #000;
}
