html {
  font-family: sans-serif;
}

body,
h1,
p {
  margin: 0;
  padding: 0;
}
.title {
  padding: 20px;
  font-weight: normal;
}

.svg-container {
  background-color: #d5d9d5;
  display: flex;
  justify-content: center;
  align-items: center;
}

#next-statement-btn,
#prev-statement-btn {
  &:hover {
    opacity: 60%;
    cursor: pointer;
  }
}
