html {
  font-family: serif;
}

body,
h1,
p {
  margin: 0;
  padding: 0;
}

.title {
  padding: 40px 0;
  font-weight: normal;
}

.svg-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #edede9;
  padding-top: 40px;
  width: 100%;
  flex: 5;
  min-width: 600px;
}

#next-statement-btn,
#prev-statement-btn {
  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

.numeracy-category:hover {
  cursor: pointer;
}

.numeracy-category:hover rect {
  opacity: 0.1;
}

#discrimination-statement {
  font-style: italic;
}

.disabled-btn {
  opacity: 0.5 !important;
  &:hover {
    cursor: default !important;
  }
}

#selection-bar {
  margin-top: 16px;
}

.selection-btn {
  border: none;
  margin: 0;
  color: #777;
  font-size: 16px;
}

.active-button {
  color: #000;
}

li {
  list-style-type: none;
}

.verse {
  margin: 0;
  margin-bottom: 2rem;
  padding: 0;
  font-size: 20px;
}

#wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: calc(100vh);
}

@media (max-width: 1150px) {
  #wrapper {
    flex-direction: column;
    max-height: calc(50vh);
  }
  #poem-container {
    max-height: calc(20vh);
  }
}

#poem-container {
  padding: 0 5%;
  flex: 2;
  overflow: auto;
  max-height: calc(100vh);
  background-color: #fffffe;
}

#statement-selector {
  font-size: 20px;
}

#poem-container::-webkit-scrollbar {
  display: none;
}
