html {
  font-family: serif;
}

body,
h1,
p {
  margin: 0;
  padding: 0;
}

.title {
  padding: 40px 0;
  font-weight: normal;
}

.svg-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #edede9;
  padding-top: 40px;
  width: 100%;
  flex: 5;
  min-width: 600px;
  padding-bottom: 500px;
}

#next-statement-btn,
#prev-statement-btn,
#forward-button,
#backward-button {
  opacity: 0.3;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.numeracy-category:hover {
  cursor: pointer;
}

.numeracy-category:hover rect {
  opacity: 0.1;
}

#discrimination-statement {
  font-style: italic;
}

.disabled-btn {
  opacity: 0.3 !important;
  &:hover {
    cursor: default !important;
  }
}

#selection-bar {
  margin-top: 16px;
  visibility: hidden;
}

.selection-btn {
  border: none;
  margin: 0;
  color: #777;
  font-size: 16px;
}

.active-button {
  color: #000;
}

li {
  list-style-type: none;
}

.verse {
  margin: 0;
  margin-bottom: 2rem;
  padding: 0;
  font-size: 20px;
  color: #777;
}

.active-line {
  color: black;
}

#wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: calc(100vh - 100);
}

#poem-container {
  flex: 2;
  background-color: #fffffe;
  min-width: 640px;
  display: flex;
}

#poem {
  padding-right: 48px;
  overflow: auto;
  max-height: calc(100vh);
}

#statement-selector {
  font-size: 20px;
}

#poem::-webkit-scrollbar {
  display: none;
}

#button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  max-height: calc(100vh);
}

#forward-button,
#backward-button {
  border: none;
  width: 40px;
  margin: 16px;
}

button {
  border: none;
  background: none;
}

.filler-verse {
  height: 300px;
}

.active-line .emphasis {
  text-decoration: underline;
}

.table-text {
  font-size: 18px;
}

.inactive-pie {
  opacity: 0.3;
}

.pie-hovered {
  transform: translateY(-5px);
  transition: all 0.25s;
}

.close-btn {
  font-style: italic;
}
